table, th, td {
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-width: 1px;
    border-block-width: 1px;
    border-collapse: collapse;
    width: 28%;
    padding: 45px;
    text-align: center;
    border-style: groove;
    border-bottom-color: bisque;
    border-bottom-width: 5px;
    box-shadow: rgba(249, 233, 186, 0.594) 0px 0px 0px 3px;
   }
   #headerrow {
    background-color: bisque;

   }

   h1 {
    font-family: monospace;
    padding-left: 80px;
    
   }

   #options3 {
    background-color: lightgreen;
   }
 