html {
  scroll-behavior: smooth;
}

* {
  margin:0;
  padding:0;
 }
body {
  background-color: #040714;
  color: #f9f9f9;
  font-family: Avenir-Roman, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #f9f9f9;
  text-decoration: none;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  background-color: #090b13;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 36px;
  letter-spacing: 16px;
  z-index: 3;
}

.navLogo {
  padding: 0;
  width: 80px;
  margin-top: 4px;
  max-height: 70px;
  font-size: 0;
  display: inline-block;
}

.navLogo img {
  display: block;
  width: 100%;
}

.loginform {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 8px 16px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  border: 1px solid #f9f9f9;
  border-radius: 4px;
  transition: all .2s ease 0s;
}

.loginform:hover {
  background-color: #f9f9f9;
  color: #000;
  border-color: transparent;
}

.landing {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
}

.landingContent {
  margin-bottom: 10vw;
  width: 100%;
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 80px 40px;
  height: 100%;
}

.landingBgImg {
  height: 100%;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/images/background.jpeg");
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.first {
  max-width: 650px;
  display: flex;
  flex-direction: column;
  width: 100%;
}



.email {
  font-weight: lighter ;
  color: #e2e2e2;
  background-color: #7a7a7a;
  margin-bottom: 12px;
  width: 100%;
  letter-spacing: 1.5px;
  font-size: 18px;
  padding: 16.5px 0;
  border: 1px solid transparent;
  border-radius: 4px;
}

.disneybundle {
  font-weight: bold;
  color: #f9f9f9;
  background-color: #0063e5;
  margin-bottom: 12px;
  width: 100%;
  letter-spacing: 1.5px;
  font-size: 18px;
  padding: 16.5px 0;
  border: 1px solid transparent;
  border-radius: 4px;
}

.landingSignUp:hover {
  background-color: #0483ee;
}

.landingDescription {
  color: hsla(0, 0%, 95.3%, 1);
  font-size: 11px;
  margin: 0 0 24px;
  line-height: 1.5;
  letter-spacing: 1.5px;
}

.ctaLogoTwo {
  max-width: 600px;
  margin-bottom: 20px;
  display: inline-block;
  vertical-align: bottom;
  width: 100%;
}

.gallery{
  display: flex;
  flex-flow: wrap;
  columns: 2;
 }
 
 .title{
  color: #fff;
  opacity: 0.9;
  padding-left: 4%;
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 500;
}





.movies-list{
  width: 100%;
  height: 220px;
  position: relative;
  margin: 10px 0 20px;
}

.card-container{
  position: relative;
  width: 92%;
  padding-left: 10px;
  height: 220px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  overflow-x: auto;
  overflow-y: visible;
  scroll-behavior: smooth;
}

.card-container::-webkit-scrollbar{
  display: none;
}

.card{
  position: relative;
  min-width: 150px;
  width: 150px;
  height: 200px;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 10px;
  transition: .5s;
}

.card-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card:hover{
  transform: scale(1.1);
}

.card:hover .card-body{
  opacity: 1;
}

.card-body{
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  
}



footer ul li a{
  opacity: 75%;
  text-decoration: none;
}

footer ul li a:hover{
  opacity: 1;
}





.name{
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  text-transform: capitalize;
  margin-top: 60%;
}

.des{
  color: #fff;
  opacity: 0.8;
  margin: 5px 0;
  font-weight: 500;
  font-size: 12px;
}

.watchlist-btn{
  position: relative;
  width: 100%;
  text-transform: capitalize;
  background: none;
  border: none;
  font-weight: 500;
  text-align: right;
  color: rgba(255, 255, 255, 0.5);
  margin: 5px 0;
  cursor: pointer;
  padding: 10px 5px;
  border-radius: 5px;
}

.watchlist-btn::before{
  content: '';
  position: absolute;
  top: 0;
  left: -5px;
  height: 35px;
  width: 35px;
  background-image: url();
  background-size: cover;
  transform: scale(0.4);
}

.watchlist-btn:hover{
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
}

.pre-btn,
.nxt-btn{
  position: absolute;
  top: 0;
  width: 5%;
  height: 100%;
  z-index: 2;
  border: none;
  cursor: pointer;
  outline: none;
}

.pre-btn{
  left: 0;
  background: linear-gradient(to right, #0c111b 0%, #0c111b00);
}

.nxt-btn{
  right: 0;
  background: linear-gradient(to left, #0c111b 0%, #0c111b00);
}

.pre-btn img,
.nxt-btn img{
  width: 15px;
  height: 20px;
  opacity: 0;
}

.pre-btn:hover img,
.nxt-btn:hover img{
  opacity: 1;
}


 

#plans {
  text-decoration: underline;
}
@media only screen and (min-width: 768px) {
  body {
      font-size: 16px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  body {
      font-size: 15px;
  }
}

@media only screen and (max-width: 479px) {
  body {
      font-size: 14px;
  }
}
  
