nav{
    background-color: lightsalmon;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
#mainnav {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   padding: 10px;
}
h1 {
    text-align: center;
    font-family: cursive;
    font-size: x-large;
}
li{
    list-style: none;
    padding: 30px;
    letter-spacing: 5px;
}

a {
    text-decoration: none;
}

a:hover {
background-color: lightslategray;
padding: 10px;
border-radius: 5px;
cursor: pointer;
}

a:link {
    color: lightblue;
    font-weight: 800;
}

.dropdownmenu {
    display: flex;
    flex-direction: column;
    width: 40;
    margin: 10px;
    border: 2px solid lightskyblue;
    position: absolute;
    opacity: 0;
    transition-property: all;
    
}
.dropdown:hover .dropdownmenu {
    opacity: 1;
    transition-duration: 10s;
}


