.site-hero {
    height: 20vh;
    background-image: url("../assets/branding/wood_bkgrnd.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    margin-bottom: 20px;
}

.hero-text {
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: beige;
    text-indent: 5%;
    text-transform: uppercase;

}
h4 {
    text-transform: lowercase;
    font-family: Arial, Helvetica, sans-serif;
}
h3 {
    text-align: center
}


nav {
    margin-bottom: 40px;
}
main {
    margin-top: 10px;
    ;
    
}

.col {
    margin-bottom: 15%;
    
}
